.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5rem;
}

.container__banner {
    width: 1300px;
    height: 500px;
}

.card__image {
    object-fit: cover;
}
